.tab {
    display: none;
}

.active {
    display: block;
}

body {
    width: 500px;
}

.peli-tit {
    background-color: #ff5e5e;
}

.accex-tit {
    background-color: #f9cb8b;
}

.accmod-tit {
    background-color: #d9ff7d;
}

.sin-pel {
    background-color: #aac7ed;
}
